<% provide(:title, "Smith Lecture") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">

		<div class="hub_para">
			<div class="hub_header_image">
				<%= image_tag ('smith_banner.jpg') %>
			</div>
			<h1> </h1>

			<h4>About the Smith Lecture</h4>

			<p>Established by a generous gift from Mr. Stan and Mrs. Paula Warmath, long-time friends and associates of Dr. James C. Smith, the annual lecture features an invited internationally renowned speaker who is conducting behaviorally oriented research on scientific problems in neuroscience. The Warmaths’ gift, coupled with continuing donations from other friends, former students, and colleagues of Dr. Smith, as well as support from the Department of Psychology and the Program in Neuroscience, provides the opportunity for FSU faculty and students to interact with these distinguished scholars during their visits to campus.</p>

			<h4>The James C. Smith Lecturers</h4>
		</div>

		<div class="hub_para">
			<div id="person_left">
		   	   <div>
		   		<%= image_tag("smith_spector.jpg") %>
		   	   </div>
		    </div>
		    <div id="person_right">
		   		<h2>Alan Spector (FSU)</h2>
				<h4>2016</h4>
				<dl>
					<dd>The Neural Basis of Salt Taste: The Interpretive Power of Animal Psychophysics</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_rinaman.jpg") %>
		   	   </div>
		    </div>
		    <div id="person_right">
		   		<h2>Linda Rinaman (Pitt) </h2>
				<h4>2015</h4>
				<dl>
					<dd>Interoceptive Modulation of Behavioral Responses to Stress</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_norgren.jpg") %>
		   	   </div>
		    </div>
		    <div id="person_right">
		   		<h2>Ralph Norgren (Penn State) </h2>
				<h4>2014</h4>
				<dl>
					<dd>The Search for Sweet</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_sclafani.jpg") %>
		   	   </div>
		    </div>
		    <div id="person_right">
		   		<h2>Tony Sclafani (Brooklyn College, CUNY) </h2>
				<h4>2013</h4>
				<dl>
					<dd>Gut-Brain Nutrient Signaling: Appetition vs. Satiation</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_grill.jpg") %>
		   	   </div>
		    </div>		    
		    <div id="person_right">
		   		<h2>Harvey Grill (U Penn) </h2>
				<h4>2012</h4>
				<dl>
					<dd>Hindbrain Neurons: An Essential Hub in the Neuroanatomically Distributed Control of Feeding Behavior</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_carroll.jpg") %>
		   	   </div>
		    </div>

		    <div id="person_right">
		   		<h2>Marilyn Carroll (U Minnesota)</h2>
				<h4>2011</h4>
				<dl>
					<dd>Avidity for Food, Sweets, Exercise, Novelty: How It Relates to Drug Abuse</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
		   	   <div>
		   		<%= image_tag("smith_gerry.jpg") %>
		   	   </div>
		    </div>
		    
		    <div id="person_right">
		   		<h2>Gerry Smith (Cornell U) </h2>
				<h4>2010</h4>
				<dl>
					<dd>Orosensory Controls of Eating, Meal Size, and Diet-induced Obesity</dd>
				</dl>
		    </div>

		    <div style="clear:both" id="person_left">
			    <div>
			   		<%= image_tag("smith_woods.jpg") %>
			   	</div>
		    </div>

		    <div id="person_right">
		   		<h2>Steve Woods (U Cincinnati) </h2>
				<h4>2009</h4>
				<dl>
					<dd>The Control of Food Intake: Behavioral vs. Molecular Perspectives</dd>
				</dl>
		    </div>
	    </div>


	    <div style="clear:both" class="hub_para">
	    	</br >
	    	<h1> </h1>
			<h4>About James C. Smith, Ph. D.</h4>

			<p>After he earned his Ph.D. from Florida State University in 1959, Dr. Smith joined the faculty, and since that time has received every award that the university has to offer. In 1992 Smith was named a Robert O. Lawton Distinguished Professor, the highest award bestowed upon a faculty member by the University. Smith was also the recipient of the University Distinguished Teacher Award based on a lifetime of teaching excellence, and in 2005 the College of Arts and Sciences honored Dr. Smith as their Graduate of Distinction. Dr. Smith has also received international recognition for his scientific achievements including The Distinguished Career Award from the Society for the Study of Ingestive Behavior, a National Sigma Xi Lectureship, and the Mozell Award for Outstanding Achievement in the Chemical Senses from the Association for Chemoreception Sciences. After 52 years on the Department of Psychology faculty, Dr. Smith retired but still remains active in research at FSU as Professor Emeritus.</p>
		</div>



	</div>
</div>


