<% provide(:title, "GSAC") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			
		</div>

		<div class="hub_para">

			<h1>Graduate Student Advisory Committee (GSAC)</h1>

			<p>GSAC is the elected committee of NGSA consisting of six members: president, president-elect, treasurer, secretary, outreach chair, and recruitment chair. This committee is responsible for approving policies and expenditures of the organization, providing a means for two-way communication between Neuroscience Graduate Student Association members and the Program in Neuroscience, supporting Neuroscience community outreach, and organization of housing, transportation and student activities during Graduate Recruitment Weekend. </p>

			<div id="hub_left" class="col-sm-6 clearfix council">
				<ul>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("adossatS.jpg") %>
						</div>
						<div class="body">
							<h4>President:</h4> 
							<h5>Amanda Dossat</h5>
						</div>
					</li>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("kschoepferS.jpg") %>
						</div>
						<div class="body">
							<h4>Secretary:</h4> 
							<h5>Kristin Schoepfer</h5>
						</div>
					</li>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("jbrewerS.jpg") %>
						</div>
						<div class="body">
							<h4>Outreach Chair:</h4> 
							<h5>Jacob Brewer</h5>
						</div>
					</li>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("mtabbaaS.jpg") %>
						</div>
						<div class="body">
							<h4>Outreach Elect:</h4> 
							<h5>Manal Tabbaa</h5>
						</div>
					</li>
				</ul>
			</div>
			<div id="hub_right" class="col-sm-6 clearfix council">
				<ul>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("mbutlerS.jpg") %>
						</div>
						<div class="body">
							<h4>President Elect:</h4> 
							<h5>Michael Butler</h5>
						</div>
					</li>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("czelinkaS.jpg") %>
						</div>
						<div class="body">
							<h4>Treasurer:</h4> 
							<h5>Chris Zelinka</h5>
						</div>
					</li>
					<li class="clearfix">
						<div class="image">
						<%= image_tag("lelvirS.jpg") %>
						</div>
						<div class="body">
							<h4>Recruitment Chair:</h4> 
							<h5>Lindsay Elvir</h5>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</div>

	

	
</div>
